In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

In [2]:
from mlxtend.frequent_patterns import association_rules, apriori

pd.set_option('display.max_rows', 500000000)

In [3]:
import pickle
with open("C:/Users/passion/jupyter/열정에 시동/result.pickle","rb") as fr:
    result=pickle.load(fr)

In [4]:

with open("C:/Users/passion/jupyter/열정에 시동/RFML.pickle","rb") as fr:
    RFML=pickle.load(fr)

In [6]:
for a in range(2):
    for b in range (2):
        for c in range(2):
            for d in range(3):
                globals()['group'+str(a)+str(b)+str(c)+str(d)] = RFML[(RFML["Recency_R"] == a) & (RFML["Frequency_F"] == b) & (RFML["Monetary_M"] == c) & (RFML["LPAY_USE"] == d) ]
                globals()['cust'+str(a)+str(b)+str(c)+str(d)] = globals()['group'+str(a)+str(b)+str(c)+str(d)]['CUST']
                globals()['transaction'+str(a)+str(b)+str(c)+str(d)] = pd.merge(result, globals()['cust'+str(a)+str(b)+str(c)+str(d)])

In [7]:
cust1110.head()

14     M000621637
28     M001332751
46     M001729158
85     M003531710
134    M005190060
Name: CUST, dtype: object

In [8]:
transaction1110.head()

,CUST,MA_FEM_DV,AGES,C_ZON_HLV,BUY_AM,COP_C,CHNL_DV,PD_C,BUY_CT,S_ZON_HLV,DE_DT,MONTH,DATE,DAY,DE_HR,CLAC_HLV_NM,CLAC_MCLS_NM,PD_NM,LPAY_USE
0,M646853852,0,40,13,79700,110,1,1369,1,13,2021-01-01,1,1,4,10,주방잡화,주방일회용품,기타주방일회용품,0
1,M646853852,0,40,13,10000,110,1,1827,1,13,2021-02-04,2,4,3,20,패션잡화,패션액세서리,기타패션잡화,0
2,M646853852,0,40,13,8000,110,1,1827,1,13,2021-02-10,2,10,2,14,패션잡화,패션액세서리,기타패션잡화,0
3,M646853852,0,40,13,1761000,110,2,25,1,0,2021-02-23,2,23,1,21,가구,침실가구,침대,0
4,M646853852,0,40,13,1761000,110,2,25,1,0,2021-02-23,2,23,1,21,가구,침실가구,침대,0

## vip_nl의 중분류 연관규칙찾는 알고리즘

vip_nl의 구매물품에 대한 연관규칙을 찾기위해서 '중분류'를 기준으로 apriori알고리즘을 돌려보았다.<br>
vip_nl은 rfml기준으로 1110이라서 1110의 그룹에 속한 cust의 transaction데이터로 분석을 진행한다.<br>

여기서 cop_u도 포함되어있으니 cop_u인것을 버리기위해 조건을 건다

In [9]:
transaction1110 = transaction1110[(transaction1110['COP_C']<200)]
transaction1110

,CUST,MA_FEM_DV,AGES,C_ZON_HLV,BUY_AM,COP_C,CHNL_DV,PD_C,BUY_CT,S_ZON_HLV,DE_DT,MONTH,DATE,DAY,DE_HR,CLAC_HLV_NM,CLAC_MCLS_NM,PD_NM,LPAY_USE
0,M646853852,0,40,13,79700,110,1,1369,1,13,2021-01-01,1,1,4,10,주방잡화,주방일회용품,기타주방일회용품,0
1,M646853852,0,40,13,10000,110,1,1827,1,13,2021-02-04,2,4,3,20,패션잡화,패션액세서리,기타패션잡화,0
2,M646853852,0,40,13,8000,110,1,1827,1,13,2021-02-10,2,10,2,14,패션잡화,패션액세서리,기타패션잡화,0
3,M646853852,0,40,13,1761000,110,2,25,1,0,2021-02-23,2,23,1,21,가구,침실가구,침대,0
4,M646853852,0,40,13,1761000,110,2,25,1,0,2021-02-23,2,23,1,21,가구,침실가구,침대,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
954741,M093853678,0,40,1,7990,130,1,1153,1,1,2021-12-31,12,31,4,10,유제품,요구르트,일반요구르트,0
954742,M093853678,0,40,1,4500,130,1,381,2,1,2021-12-31,12,31,4,21,담배,일반담배,국산담배,0
954743,M093853678,0,40,1,1380,130,1,401,5,1,2021-12-31,12,31,4,21,대용식,레토르트,즉석국/찌개,0
954744,M093853678,0,40,1,8490,130,1,318,1,1,2021-12-31,12,31,4,21,냉동식품,냉동간편식,냉동만두,0
954745,M093853678,0,40,1,5990,130,1,325,1,1,2021-12-31,12,31,4,21,냉동식품,냉동간편식,냉동떡볶이,0

association rule mining에 필요한 컬럼인 'CUST','CLAC_MCLS_NM','DE_DT'를 가져와서 분석한다

In [10]:
transaction1110_m = transaction1110[['CUST','CLAC_MCLS_NM','DE_DT']]
transaction1110_m.head()

         CUST CLAC_MCLS_NM       DE_DT
0  M646853852       주방일회용품  2021-01-01
1  M646853852       패션액세서리  2021-02-04
2  M646853852       패션액세서리  2021-02-10
3  M646853852         침실가구  2021-02-23
4  M646853852         침실가구  2021-02-23

In [10]:
transaction1110_m = transaction1110_m.groupby(['CUST','DE_DT']).CLAC_MCLS_NM.unique().reset_index()
transaction1110_m['transaction'] = transaction1110_m.index
transaction1110_m = transaction1110_m.drop(['CUST','DE_DT'], axis=1)
transaction1110_m = transaction1110_m[['transaction','CLAC_MCLS_NM']]
transaction1110_m['count'] = 1
transaction1110_m

        transaction                                       CLAC_MCLS_NM  count
0                 0                           [기타아웃도어/레저, 유아동속옷, 여성속옷]      1
1                 1                                   [여아의류하의, 여아의류상의]      1
2                 2                                   [여아의류하의, 여아의류상의]      1
3                 3                                              [차음료]      1
4                 4                                           [남성의류상의]      1
...             ...                                                ...    ...
135848       135848  [식용유류, 우유, 방향/제습/탈취제, 햄/소시지, 레토르트, 스낵류, 수입과일, ...      1
135849       135849                          [남아의류아우터, 남성의류상의, 남성스포츠화]      1
135850       135850  [남성의류하의, 남성의류상의, 남성스포츠화, 미용소품, 청소세제, 냉동간편식, 사탕...      1
135851       135851  [스낵류, 냉장간편식, 비스킷류, 탄산음료, 시리얼, 세탁세제, 용기라면, 간편조리...      1
135852       135852                                       [교육완구, 남아완구]      1

[135853 rows x 3 columns]

In [85]:
# transaction1110_m_df = pd.DataFrame({'Transaction' : [], 'Item' : [], 'Count' : []})
# num = 0
# for i in range(135853):
#     for count in range(len(transaction1110_m.iloc[i,1])):
#         transaction1110_m_df.loc[num] = [i,transaction1110_m.iloc[i,1][count],1]
#         num+=1
# transaction1110_m_df

        Transaction       Item  Count
0                 0  기타아웃도어/레저      1
1                 0      유아동속옷      1
2                 0       여성속옷      1
3                 1     여아의류하의      1
4                 1     여아의류상의      1
...             ...        ...    ...
703276       135851       봉지라면      1
703277       135851      어묵/맛살      1
703278       135851      사탕/캔디      1
703279       135852       교육완구      1
703280       135852       남아완구      1

[703281 rows x 3 columns]

위의 transaction의 거래내역을 각 행으로 변환하는 작업의 반복문 코드가 너무 오래걸려서 <br>
pickle 파일로 변환시켰다.

In [86]:
# import pickle
# with open("transaction_vipnl_m.pickle","wb") as fw:
#     pickle.dump(transaction1110_m_df, fw)

우리가 코드 돌릴때는 돌렸으나 다시 돌릴때는 시간 오래 걸리는걸 방지하기 위해서<br>
위의 반복문 코드랑 pickle파일 만드는 코드는 주석처리하겠다.

In [4]:
with open("C:/Users/passion/jupyter/열정에 시동/transaction_vipnl_m.pickle","rb") as fr:
    transaction1110_m_df=pickle.load(fr)

In [9]:
basket_m = transaction1110_m_df.pivot_table(index='Transaction', columns='Item', values='Count', aggfunc='sum').fillna(0)
basket_m.head()

Item,DVD/홈시어터,TV,가공유,가방세트,간식/안주형과자,간편조리,갑각류,거실가구,건강가전,건강관리용품,...,핸드/풋케어,햄/소시지,향수,향신료,헤어액세서리,헤어케어,호주산소고기,홈웨어,홍삼/인삼가공식품,화장지/티슈
Transaction,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
freq_item_m = apriori(basket_m, min_support = 0.01,use_colnames = True)
freq_item_m

C:\Users\passion\Anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
C:\Users\passion\Anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

      support                    itemsets
0    0.042730                       (가공유)
1    0.011689                      (간편조리)
2    0.031313                        (건면)
3    0.036098                       (건어물)
4    0.026632                       (견과류)
..        ...                         ...
652  0.015612             (우유, 잎채소, 열매채소)
653  0.014656           (잎채소, 열매채소, 청소용품)
654  0.013191             (우유, 잎채소, 요구르트)
655  0.012204            (우유, 요구르트, 청소용품)
656  0.010291  (잎채소, 국산과일, 열매채소, 두부/콩나물류)

[657 rows x 2 columns]

In [19]:
rules_m = association_rules(freq_item_m, metric = "lift", min_threshold = 1)
rules_m.sort_values('confidence', ascending = False, inplace = True)
rules_m.head(20)

C:\Users\passion\Anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1482,"(뿌리채소, 열매채소)",(잎채소),0.021774,0.142213,0.013102,0.601758,4.231399,0.010006,2.153935
1469,"(비스킷류, 햄/소시지)",(스낵류),0.017372,0.155874,0.010254,0.590254,3.786731,0.007546,2.060120
1408,"(봉지라면, 비스킷류)",(스낵류),0.021567,0.155874,0.012631,0.585666,3.757292,0.009269,2.037305
1609,"(국산과일, 열매채소, 두부/콩나물류)",(잎채소),0.017666,0.142213,0.010291,0.582500,4.095982,0.007778,2.054581
1397,"(버섯류, 열매채소)",(잎채소),0.029009,0.142213,0.016665,0.574473,4.039542,0.012540,2.015826
...,...,...,...,...,...,...,...,...,...
91,(국산과일),(국산소고기),0.164479,0.031107,0.010291,0.062564,2.011252,0.005174,1.033557
1617,(국산과일),"(잎채소, 열매채소, 두부/콩나물류)",0.164479,0.024232,0.010291,0.062564,2.581881,0.006305,1.040891
1057,(국산과일),"(스낵류, 열매채소)",0.164479,0.026779,0.010254,0.062341,2.327970,0.005849,1.037926
1081,(국산과일),"(스낵류, 청소용품)",0.164479,0.040065,0.010114,0.061490,1.534749,0.003524,1.022829
146,(국산과일),(장류),0.164479,0.033926,0.010070,0.061222,1.804547,0.004490,1.029075

## vip_nl의 대분류 연관규칙 찾는 알고리즘

VIP NL에 대한 transaction으로 ARM을 진행해본 결과 VIP NL의 고객들이 주로 소비하는 품목들은 <br>
식품(채소, 스낵류 등) 이어서 품목들끼리 비슷해 추천이 의미가 없어 중분류로 마켓팅하는 것은 한계가 있다고 판단해<br>
조금 더 넓은 범위인 대분류를 이용하여 마케팅 전략을 세우려고 한다.

association rule mining에 필요한 컬럼인 'CUST','CLAC_HLV_NM','DE_DT'를 가져와서 분석한다

In [11]:
transaction1110_h = transaction1110[['CUST','CLAC_HLV_NM','DE_DT']]
transaction1110_h

              CUST CLAC_HLV_NM       DE_DT
0       M646853852        주방잡화  2021-01-01
1       M646853852        패션잡화  2021-02-04
2       M646853852        패션잡화  2021-02-10
3       M646853852          가구  2021-02-23
4       M646853852          가구  2021-02-23
...            ...         ...         ...
954741  M093853678         유제품  2021-12-31
954742  M093853678          담배  2021-12-31
954743  M093853678         대용식  2021-12-31
954744  M093853678        냉동식품  2021-12-31
954745  M093853678        냉동식품  2021-12-31

[935295 rows x 3 columns]

In [12]:
transaction1110_h = transaction1110_h.groupby(['CUST','DE_DT']).CLAC_HLV_NM.unique().reset_index()
transaction1110_h['transaction'] = transaction1110_h.index
transaction1110_h = transaction1110_h.drop(['CUST','DE_DT'], axis=1)
transaction1110_h = transaction1110_h[['transaction','CLAC_HLV_NM']]
transaction1110_h['count'] = 1
transaction1110_h

        transaction                                        CLAC_HLV_NM  count
0                 0                               [아웃도어/레저, 속옷/양말/홈웨어]      1
1                 1                                            [유아동의류]      1
2                 2                                            [유아동의류]      1
3                 3                                               [음료]      1
4                 4                                             [남성의류]      1
...             ...                                                ...    ...
135848       135848  [조미료, 유제품, 세제/위생, 냉장식품, 대용식, 과자, 과일, 냉동식품, 음료,...      1
135849       135849                               [유아동의류, 남성의류, 스포츠패션]      1
135850       135850  [남성의류, 스포츠패션, 화장품/뷰티케어, 세제/위생, 냉동식품, 과자, 병통조림,...      1
135851       135851  [과자, 냉장식품, 음료, 대용식, 세제/위생, 수산물, 과일, 냉동식품, 병통조림...      1
135852       135852                                               [완구]      1

[135853 rows x 3 columns]

In [13]:
# transaction1110_h_df = pd.DataFrame({'Transaction' : [], 'Item' : [], 'Count' : []})
# num = 0
# for i in range(135853):
#     for count in range(len(transaction1110_h.iloc[i,1])):
#         transaction1110_h_df.loc[num] = [i,transaction1110_h.iloc[i,1][count],1]
#         num+=1
# transaction1110_h_df

        Transaction       Item  Count
0                 0    아웃도어/레저      1
1                 0  속옷/양말/홈웨어      1
2                 1      유아동의류      1
3                 2      유아동의류      1
4                 3         음료      1
...             ...        ...    ...
544865       135851       냉동식품      1
544866       135851       병통조림      1
544867       135851        조미료      1
544868       135851       커피/차      1
544869       135852         완구      1

[544870 rows x 3 columns]

In [14]:
# import pickle
# with open("transaction_vipnl_h.pickle","wb") as fw:
#     pickle.dump(transaction1110_h_df, fw)

In [5]:
with open("C:/Users/passion/jupyter/열정에 시동/transaction_vipnl_h.pickle","rb") as fr:
    transaction1110_h_df=pickle.load(fr)

In [6]:
basket_h = transaction1110_h_df.pivot_table(index='Transaction', columns='Item', values='Count', aggfunc='sum').fillna(0)
basket_h.head()

Item,가구,건강식품,건강용품,건해산물,계절가전,공구/안전용품,과일,과자,구기/필드스포츠,기타(비상품),...,축산물,출산/육아용품,침구/수예,커피/차,컴퓨터,테넌트/음식점,패션잡화,퍼스널케어,헬스/피트니스,화장품/뷰티케어
Transaction,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
freq_item_h = apriori(basket_h, min_support = 0.01,use_colnames = True)
freq_item_h

C:\Users\passion\Anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

       support                           itemsets
0     0.017784                             (건강식품)
1     0.011696                             (건강용품)
2     0.080087                             (건해산물)
3     0.017114                          (공구/안전용품)
4     0.256410                               (과일)
...        ...                                ...
1506  0.010622        (유제품, 대용식, 과자, 축산물, 음료, 채소)
1507  0.010828       (유제품, 대용식, 과자, 축산물, 조미료, 채소)
1508  0.011255      (유제품, 대용식, 냉장식품, 축산물, 음료, 채소)
1509  0.012543     (유제품, 대용식, 냉장식품, 축산물, 조미료, 채소)
1510  0.010268  (유제품, 과자, 대용식, 냉장식품, 축산물, 과일, 채소)

[1511 rows x 2 columns]

In [10]:
rules_h = association_rules(freq_item_h, metric = "lift", min_threshold = 1)
rules_h.sort_values('confidence', ascending = False, inplace = True)
rules_h

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
12403,"(과일, 축산물, 냉장식품, 수산물)",(채소),0.014486,0.329555,0.012823,0.885163,2.685935,0.008049,5.838214
12823,"(과일, 대용식, 축산물, 수산물)",(채소),0.012955,0.329555,0.011409,0.880682,2.672339,0.007140,5.618970
13153,"(유제품, 축산물, 과일, 수산물)",(채소),0.015782,0.329555,0.013787,0.873601,2.650852,0.008586,5.304187
17082,"(유제품, 냉장식품, 축산물, 조미료, 과일)",(채소),0.012977,0.329555,0.011299,0.870675,2.641974,0.007022,5.184189
11533,"(과일, 과자, 축산물, 수산물)",(채소),0.011925,0.329555,0.010342,0.867284,2.631684,0.006412,5.051727
...,...,...,...,...,...,...,...,...,...
8004,(채소),"(냉동식품, 냉장식품, 수산물)",0.329555,0.012374,0.010048,0.030488,2.463981,0.005970,1.018684
10032,(채소),"(청소/세탁/욕실용품, 축산물, 수산물)",0.329555,0.012602,0.010033,0.030444,2.415820,0.005880,1.018402
15041,(채소),"(유제품, 주류, 과자, 축산물)",0.329555,0.013389,0.010033,0.030444,2.273713,0.005620,1.017590
2131,(채소),"(냉동식품, 세제/위생)",0.329555,0.016047,0.010018,0.030399,1.894410,0.004730,1.014802
9907,(채소),"(유제품, 세제/위생, 음료)",0.329555,0.015745,0.010011,0.030377,1.929304,0.004822,1.015090

In [11]:
freq_item_h.sort_values(by=["support"],ascending = False)

       support                itemsets
33    0.329555                    (채소)
26    0.281731                   (유제품)
5     0.270152                    (과자)
4     0.256410                    (과일)
11    0.243925                   (대용식)
...        ...                     ...
124   0.010033       (냉장식품, 속옷/양말/홈웨어)
1443  0.010033  (유제품, 주류, 과자, 축산물, 채소)
555   0.010018       (냉동식품, 세제/위생, 채소)
729   0.010018     (유제품, 세제/위생, 퍼스널케어)
1258  0.010011    (유제품, 세제/위생, 음료, 채소)

[1511 rows x 2 columns]

In [20]:
a = frozenset({'채소'})
rules_h[rules_h['antecedents']==a]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
393,(채소),(축산물),0.329555,0.228652,0.147365,0.447164,1.955659,0.072012,1.395258
321,(채소),(유제품),0.329555,0.281731,0.147041,0.446182,1.583715,0.054196,1.296940
63,(채소),(과일),0.329555,0.256410,0.146688,0.445110,1.735932,0.062187,1.340067
171,(채소),(냉장식품),0.329555,0.243837,0.139555,0.423466,1.736676,0.059198,1.311567
205,(채소),(대용식),0.329555,0.243925,0.124171,0.376784,1.544669,0.043784,1.213182
...,...,...,...,...,...,...,...,...,...
8004,(채소),"(냉동식품, 냉장식품, 수산물)",0.329555,0.012374,0.010048,0.030488,2.463981,0.005970,1.018684
10032,(채소),"(청소/세탁/욕실용품, 축산물, 수산물)",0.329555,0.012602,0.010033,0.030444,2.415820,0.005880,1.018402
15041,(채소),"(유제품, 주류, 과자, 축산물)",0.329555,0.013389,0.010033,0.030444,2.273713,0.005620,1.017590
2131,(채소),"(냉동식품, 세제/위생)",0.329555,0.016047,0.010018,0.030399,1.894410,0.004730,1.014802
9907,(채소),"(유제품, 세제/위생, 음료)",0.329555,0.015745,0.010011,0.030377,1.929304,0.004822,1.015090